details.timetable{
    font-size: 1.2rem;
    position: relative;
    user-select: none;
    cursor: pointer;
}
.timetable__content{
    position: absolute;
    top: 30px;
    width: 300px;
    background-color: white;
    font-weight: 400;
    color: black;
    font-size: 1rem;
    padding: 0.5rem;
}
.timetable__dot--green{
    color: #48a05b;
}
.timetable__dot--red{
    color: #FF0000;
}
