.bike{
    background-image: url("./assets/img/bike.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}

.collage  .wp-block-image.alignright{
    transform: rotate(-5deg) scale(1.1);
}

.collage  .wp-block-image.alignleft{
    transform: rotate(5deg) scale(1.1);
}
